<section id="container">

<%= render "header" %>
<main>
<div class="blocka">
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="bd-sidebar">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="mt">
            <%= link_to "トップページ" ,root_path ,class: 'btn btn-outline-light' %>
          </li>
          <li class="sub-menu">
                <i class="fa fa-desktop">
                  <span>
                    <%= link_to "入庫処理" ,new_top_path,class: 'btn btn-outline-light' %>
                  </span>
                </i>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
</div>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
<div class="blockb">
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
            <h3>WELCOME!<br />
              <% if user_signed_in? %>
                <%= current_user.name %>
              <% end %>
              さん！
            </h3>

            <!--CUSTOM CHART START -->
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">商品名</th>
                      <th scope="col">  数量</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>

                  <% @items.each do |item| %>
                  <% a = item[0] %>
                  <% b = item[1] %>
                  <% case a %>
                    <% when 2 %>
                      <% a = "エポキシプライマー"%>
                    <% when 3 %>
                      <% a = "ジンクロメートプライマー"%>
                    <% when 4 %>
                      <% a = "ホワイトエナメル"%>
                    <% when 5 %>
                      <% a = "グレーエナメル"%>
                    <% when 6 %>
                      <% a = "冷蔵プライマー"%>
                    <% when 7 %>
                      <% a = "冷凍プライマー"%>
                    <% when 8 %>
                      <% a = "防触コンパウンド"%>
                    <% when 9 %>
                      <% a = "ウエストンクロス"%>
                    <% when 10 %>
                      <% a = "テックコート"%>
                    <% when 11 %>
                      <% a = "燃料タンクコート"%>
                    <% when 12 %>
                      <% a = "洗浄シンナー"%>
                    <% when 13 %>
                      <% a = "テープ"%>
                    <% when 14 %>
                      <% a = "ホワイトインク"%>
                    <% when 15 %>
                      <% a = "ブラックインク"%>
                    <% when 16 %>
                      <% a = "MEK"%>
                    <% when 17 %>
                      <% a = "トルエン"%>
                    <% when 18 %>
                      <% a = "アルミナイズド"%>
                  <% end %>

                  <tbody>
                    <tr>
                      <th scope="row"><%= a %> </th>
                        <td>
                        <% @purchase.each do |purchase| %>
                          <% d = purchase[0] %>
                          <% c = purchase[1] %>
                          <% case d %>
                            <% when 2 %>
                              <% d = "エポキシプライマー"%>
                            <% when 3 %>
                              <% d = "ジンクロメートプライマー"%>
                            <% when 4 %>
                              <% d = "ホワイトエナメル"%>
                            <% when 5 %>
                              <% d = "グレーエナメル"%>
                            <% when 6 %>
                              <% d = "冷蔵プライマー"%>
                            <% when 7 %>
                              <% d = "冷凍プライマー"%>
                            <% when 8 %>
                              <% d = "防触コンパウンド"%>
                            <% when 9 %>
                              <% d = "ウエストンクロス"%>
                            <% when 10 %>
                              <% d = "テックコート"%>
                            <% when 11 %>
                              <% d = "燃料タンクコート"%>
                            <% when 12 %>
                              <% d = "洗浄シンナー"%>
                            <% when 13 %>
                              <% d = "テープ"%>
                            <% when 14 %>
                              <% d = "ホワイトインク"%>
                            <% when 15 %>
                              <% d = "ブラックインク"%>
                            <% when 16 %>
                              <% d = "MEK"%>
                            <% when 17 %>
                              <% d = "トルエン"%>
                            <% when 18 %>
                              <% d = "アルミナイズド"%>
                          <% end %>
                          
                          <% if a == d %>
                            <%= (b - c) %>
                            <% break %>
                          <% else %>
                            <%= b %>
                            <% break %>
                          <% end %>

                        <% end %>
                        </td>
                        <td>
                        <%= link_to '出庫', top_purchases_path(item[0]) ,class:"btn btn-warning"%>
                        </td>
                    </tr>
                  </tbody>
                  
                
                <% end %>
                </table>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 col-sm-4 mb">
                <!-- REVENUE PANEL -->
                
              </div>
              <!-- /col-md-4 -->
            </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->

        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
  </section>
</div>
</main>
